body {
    background-color: black;
    padding: 50px;
}

#maindiv
{
    background-color: whitesmoke;
    position: relative;
    height: 500px;
    width: 60%;
    margin:auto;
    padding: 20px;
}

#frontpicture
{
    margin: auto;
}

img
{

    
}

#startdiv
{
    background: green;
    margin: auto;
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translateY(-50%);
}
